@import "../../styles/variables.module.scss";

.categories__wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .categories__card {
    max-width: 300px;
    border-radius: 4px;
    box-shadow: 0 8px 40px -5px rgba(9, 31, 67, 0.1);
    margin: 20px;

    img {
      width: 300px;
      height: 200px;
      border-radius: 4px;
      object-fit: cover;
    }

    h2 {
      text-align: center;
      font-weight: 700;
      @include adaptive-value("font-size", 30, 18);
            color: #322f55;
    }
  }
}
