@import "../../styles/variables.module.scss";

.footer {
  box-shadow: 0px -8px 40px -5px rgba(9, 31, 67, 0.1);

  .footer__content {
    @include centering();
    display: flex;
    gap: 50px;
    padding: 10% 5%;
    box-sizing: border-box;

    .footer__contacts {
      max-width: 230px;
      text-align: center;

      .footer__logo {
        @include adaptive-value("width", 40, 18);
        @include adaptive-value("font-size", 40, 18);
        color: #7329c2;
      }

      p {
        font-weight: 700;
        @include adaptive-value("font-size", 18, 10);
        color: #a7b0c2;
        text-align: center;
      }

      .footer__socialMedia {
        display: flex;
        justify-content: center;
        gap: 15px;

        .footer__social {
          @include adaptive-value("width", 20, 12);
          @include adaptive-value("font-size", 20, 12);
          color: #7329c2;
        }
      }
    }

    .footer__list {
      .footer__title {
        font-weight: 700;
        @include adaptive-value("font-size", 20, 12);
        line-height: 300%;
        color: #03d665;
      }
      li {
        a {
          font-weight: 600;
          @include adaptive-value("font-size", 18, 10);
          line-height: 200%;
          color: #a7b0c2;
        }
      }
    }
  }

  .subFooter {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #d1d7dc;
    padding: 1% 5%;
    box-sizing: border-box;

    .subFooter__logo {
      @include adaptive-value("width", 30, 18);
      @include adaptive-value("font-size", 40, 18);
      color: #7329c2;
    }

    p {
      font-weight: 700;
      @include adaptive-value("font-size", 18, 10);
      color: #a7b0c2;
    }
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    .footer__content {
      flex-direction: column;
      gap: 20px;
    }
  }
}
